<div class="navbar">
    <ul class="nav-ul">
        <li class="nav-li">
            <img src="assets/rectangle.png" alt="" class="li-img">
        </li>
        <li [ngClass]="selectedComponent==''?['left-border', 'nav-li']:'nav-li'"
            (click)="selectedComponent=''; selectedPart='first'">
            <img src="assets/home_menu.png" alt="" class="li-img">
            <p class="text">Home</p>
        </li>
        <li [ngClass]="selectedComponent=='comp2'?['left-border',
            'nav-li']:'nav-li'" (click)="selectedComponent='comp2' ;selectedPart='first'">
            <img src="assets/collections.png" alt="" class="li-img">
            <p class="text">Collections</p>
        </li>
        <li [ngClass]="selectedComponent=='comp3'?['left-border',
            'nav-li']:'nav-li'" (click)="selectedComponent='comp3' ;selectedPart='first'">
            <img src="assets/recovery.png" alt="" class="li-img">
            <p class="text">Recovery</p>
        </li>
        <li [ngClass]="selectedComponent=='comp4'?['left-border',
            'nav-li']:'nav-li'" (click)="selectedComponent='comp4' ;selectedPart='first'">
            <img src="assets/compiegn.png" alt="" class="li-img">
            <p class="text">Compaign</p>
        </li>
        <li [ngClass]="selectedComponent=='comp5'?['left-border',
            'nav-li']:'nav-li'" (click)="selectedComponent='comp5' ;selectedPart='first'">
            <img src="assets/product.png" alt="" class="li-img">
            <p class="text">Product</p>
        </li>
        <li [ngClass]="selectedComponent=='comp6'?['left-border',
            'nav-li']:'nav-li'" (click)="selectedComponent='comp6' ;selectedPart='first'">
            <img src="assets/queries.png" alt="" class="li-img">
            <p class="text">Queries</p>
        </li>
        <li [ngClass]="selectedComponent=='comp7'?['left-border',
            'nav-li-last']:'nav-li'" (click)="selectedComponent='comp7' ;selectedPart='first'">
            <img src="assets/userManager.png" alt="" class="li-img">
            <p class="text">User Manager </p>
        </li>

    </ul>
</div>
<router-outlet *ngIf="selectedPart==='first'"></router-outlet>
<div class="after-working" *ngIf="selectedComponent=='comp1'">
    <h1>Home is Working</h1>
</div>
<div class="comp2" *ngIf="selectedComponent=='comp2' && selectedPart=='first'">
    <div class="comp2-first">
        <span>Settlement Offers</span>
        <span><img class="info-logo" src="assets/info-d.png" alt=""></span>
    </div>
    <div class="comp2-second">
        <div class="comp2-second-child">
            <p class="comp2-p">
                <span class="comp2-second-child-text"
                    (click)="selectedPart='second'">
                    View-Details
                    <i class="fa-solid fa-eye right"></i>

                </span>
            </p>
            <div class="card-parent">
                <div class="newcard" *ngFor="let card of settlementList">
                    <div class="card-item1">
                        <img style="width: 25px;" src={{card.src}} alt="">
                    </div>
                    <div class="card-item2">
                        {{card.rupee}}
                    </div>
                    <div class="card-item3">
                        {{card.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp3'">
    <h1>Recovery is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp4'">
    <h1>Compaign is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp5'">
    <h1>Product is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp6'">
    <h1>Queris is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp7'">
    <h1>User Manager is Working</h1>
</div>
<!----------------------settlement------------------------------------------------------------>
<div class="settle-parent" *ngIf="selectedPart=='second'">
    <div class="profile">

    </div>
    <div class="parent">
        <div class="child1">
            <h5 class="heading">Settlement Offers</h5>
        </div>
        <div class="child2">
            <div class="child2-first">
                <div [ngClass]="selected=='user'?'user':'prev1'"
                    (click)="selected='user'; selectedbtn=1;   selectedArray=settlementArray1; fillpageButton(); show()">
                    <i class="fa-regular fa-file-lines"></i>
                    <i class="fa-solid fa-hourglass"></i>
                </div>
                <div [ngClass]="selected=='user'?'userline':'rupeeline'">

                </div>
                <div [ngClass]="selected=='rupee'?['rupee','user']:'prev2'"
                    (click)="selected='rupee'; selectedbtn=1; selectedArray=settlementArray2; fillpageButton(); show()">
                    <i class="fa-regular fa-file-lines"></i>
                    <i class="fa-solid fa-square-check"></i>
                </div>
                <div class="per-line">
                    <span *ngIf="selected=='user'">Pending Offers </span>
                    <span *ngIf="selected=='rupee'">Actioned Offers </span>
                </div>
            </div>
            <div class="child2-second">
                <div class="card" (mouseover)="selectedCard='card2'"
                    (mouseleave)="selectedCard=''">
                    <div class="card2">
                        <span class="card-text2">{{selectedInCard2}}</span>
                        <span class="font"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>

                    <div class="card2-child" *ngIf="selectedCard=='card2'">
                        <a *ngFor="let card of card2"
                            (click)="selectedInCard2=card">
                            <span
                                [ngClass]="selectedInCard2==card?'card-text2':'white'">{{card}}</span>
                            <span [ngClass]="selectedInCard2==card?['right',
                                'yellow']:'right'"><i class="fa-solid
                                    fa-chevron-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card" (mouseover)="selectedCard='card4'"
                    (mouseleave)="selectedCard=''">
                    <div class="card4">
                        <span class="card-text2">{{selectedInCard4}}</span>
                        <span class="font font3"><i class="fa-solid
                                fa-chevron-down"></i></span>
                    </div>
                    <div class="card2-child card4-child"
                        *ngIf="selectedCard=='card4'">
                        <a *ngFor="let card of card4"
                            (click)="selectedInCard4=card">
                            <span
                                [ngClass]="selectedInCard4==card?'card-text2':'white'">{{card}}</span>
                            <span [ngClass]="selectedInCard4==card?['right',
                                'yellow',
                                'right-card4']:['right','right-card4']"><i
                                    class="fa-solid fa-chevron-right"></i></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-container">
            <div class="features">
                <div class="entries">Show Entries</div>
                <div class="dropdown" (mouseover)="selectedSettlement='first'"
                    (mouseleave)="selectedSettlement=''">
                    <div class="outline-button">
                        {{selectedPage}}
                        <span class="pages-font"><i class="fa-solid
                                fa-chevron-down"></i></span>
                    </div>
                    <div class="card2-child card4-child pages"
                        *ngIf="selectedSettlement=='first'">
                        <a *ngFor="let card of pages"
                            (click)="selectedPage=card; fillpageButton();
                            selectedbtn=1; show()">
                            <span
                                [ngClass]="selectedPage==card?'pages-child-text':'pages-white'">{{card}}</span>
                        </a>
                    </div>
                </div>
                <div class="card card1" (click)="selectedSettlement='second'">
                    <img
                        src="https://clearmydues.com/ethera/assets/images/icons/export.svg"
                        alt="" class="card-img1">
                    <span class="card-text1">Export</span>
                </div>
                <div class="outline-button search">
                    <input type="text" class="search-input"
                        placeholder="Search">
                    <span class="search-font"><i class="fa-solid
                            fa-magnifying-glass"></i></span>
                </div>
            </div>
            <div class="div-table">
                <div class="div-body">
                    <div class="div-row">
                        <div class="div-col" *ngFor="let i of
                            settlementHeading">{{i}}</div>
                    </div>
                    
                        <div class="div-row" *ngFor="let row of selectedArray
                            | settlepage:selectedPage:selectedbtn">
                            <div class="div-col">{{row.SNo}}</div>
                            <div class="div-col">{{row.TOS}}</div>
                            <div class="div-col">{{row.preApproved}}</div>
                            <div class="div-col">{{row.payStartDate}}</div>
                            <div class="div-col">{{row.offerAmount}}</div>
                            <div class="div-col">{{row.noOfEmi}}</div>
                            <div class="div-col">{{row.ctsStartDate}}</div>
                            <div class="div-col">{{row.ctsAmount}}</div>
                            <div class="div-col">{{row.ctsNoOfEmi}}</div>
                            <div class="div-col">{{row.status}}</div>
                            <div class="div-col">{{row.actionDate}}</div>
                            <div class="div-col">{{row.actionUser}}</div>
                        </div>
                    

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="entries">
                <span>Showing {{start}} to {{end}} of
                    {{sizeOfsettlementArray1}}</span>
                <div class="right-content">
                    <span>Previous</span>
                    <span (click)="selectedbtn=btn; show()"
                        [ngClass]="selectedbtn==btn?['background',
                        'footer-number']:'footer-number'" *ngFor="let btn of
                        pageButton">{{btn}}</span>
                    <span>Next</span>
                </div>
            </div>

        </div>
    </div>
